<form method="POST" action="/courses/store">
  <div class='mb-3'>
    <label for='name' class='form-label'>tên khóa học</label>
    <input type='text' class='form-control' id='name' aria-describedby='emailHelp' name="name"/>
  </div>
  <div class='mb-3'>
    <label for='description' class='form-label'>mô tả</label>
    <input type='text' class='form-control' id='description' aria-describedby='emailHelp' name="description" />
  </div>
  <div class='mb-3'>
    <label for='videoId' class='form-label'>videoId</label>
    <input type='text' class='form-control' id='videoId' aria-describedby='emailHelp' name="videoId" />
  </div>
  <div class='mb-3'>
    <label for='level' class='form-label'>trình độ</label>
    <input type='text' class='form-control' id='level' aria-describedby='emailHelp' name="level" />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>