<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid d-flex justify-content-between'>
    <a class='navbar-brand' href='/'>Home</a>

    <div class='nav-item dropdown'>
      <a
        class='nav-link dropdown-toggle text-light'
        href='#'
        id='navbarDropdownMenuLink'
        data-toggle='dropdown'
        aria-haspopup='true'
        aria-expanded='false'
      >
        ThanhPhuongDev
      </a>
      <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
        <a class='dropdown-item' href='/courses/create'>Đăng Ký thêm khóa học
          <span class='sr-only'>(current)</span></a>
        <a class='dropdown-item' href='/me/stored/courses'>Danh sách Khóa Học</a>
        <a class='dropdown-item' href='/me/trash/courses'>Thùng Rác</a>
      </div>
    </div>

  </div>

</nav>