<div style="padding: 0px 100px ; margin-top: 30px">
    <form method="POST" action="/search">
    <div class="form-group">
        <label for="exampleInputEmail1">ten dang nahp</label>
        <input type="text" name="fullname" class="form-control" placeholder="fn">
    </div>
     <div class="form-group">
        <label for="exampleInputEmail1">password</label>
        <input type="password" name="password" class="form-control" placeholder="pw">
    </div>
     <div class="form-group">
        <label for="gender-input">gioi tinh</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value="">Gender</option>
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

